$baseFontSize: 16px;

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorCCC: #ccc;
$colorGrey: #878787;
$colorDarker: #19202d;
$colorDark: #2d3748;
$colorBlue: #4199e1;
$colorGold: rgb(196, 166, 0);

$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
